*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: #1c1c1c;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1, h2, p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    /* margin-left: 3%; */
}

.heading>h1, .heading>h2, .heading>p {
    margin-left: 3%;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 3em;
}

p {
    font-size: 2em;
}

.main {
    background-color: white;
    display:flex;
    flex-direction: column;
    /* justify-content: space-around; */
    flex-basis: 60vw;
    flex-basis: 75vh;
    min-width: 40vw;
    margin: 2%;
    /* padding-right: 10%; */
}

.main.playing {
    justify-content: space-between;
}

.main.end {
    justify-content: space-around;
}

.main#beginButton {
    align-items: center;
}

.heading {
    align-items: center;
}

.heading.playing {
    display: none;
}

/* note card */

.card {
    display: none;
}

.card.playing {
    display: grid;
    place-items: center;
    grid-template-areas: "inner-div";
}

#thing {
    grid-area: inner-div;
    width: 70%;
}

#base {
    grid-area: inner-div;
    width: 70%;
}

/* form */

legend {
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 1%;
}

#clefs {
    grid-area: "a";
}

#difficulties {
    grid-area: "b"
}

fieldset {
    border: 0px;
    display: flex;
    justify-content: center;
}

form {
    padding-top: 10%;
    border: none;
    align-self: center;
    width: 50%;
    display: grid;
    grid-template:
    "a"
    "b"
    "c";
}

form.playing {
    display: none;
}

input[type="radio"] {
    /* appearance: none; */
    -ms-transform: scale(3); /* IE 9 */
    -webkit-transform: scale(3); /* Chrome, Safari, Opera */
    transform: scale(3);
}

.radioChunk {
    outline: black auto 2px; 
    padding: 10px;
    margin: 0;
    padding-left: 20px;

}

/* label {
    outline: black auto 2px; 
    padding: 10px;
} */

/* start button */

button {
    color: white;
    text-align: center;
    background-color: #3483eb;
    width: 20%;
    cursor: pointer;
    font-size:larger;
    border: none;
}

button:hover {
    background-color: #2d73cf;
}


#beginButton {
    width: 20%;
    cursor: pointer;
    align-items: center;
    background-color: #3483eb;
    align-self: center;
    color: white;
    font-size:larger;
    min-height: 5vh;
    border: none;
}

.button {
    color: white;
    text-align: center;
    grid-area: "c";
}

#begin {
    color: white;
    text-align: center;
}

#beginButton:hover {
    background-color: #2d73cf;
}

/* answer checker */

#answer {
    width: 100%;
    height: 6%;
    align-self: center;
    /* display: grid; */
    display: flex;
    justify-content: center;
    place-items: center;
    grid-template-areas: "inner-div";
}

#answer.end {
    display: none;
}

#placeholder {
    width: 100%;
    display: none;
    grid-area: inner-div;
}

#answerText {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 3em;
    line-height: 200%;
    font-weight: 500;
    grid-area: inner-div;
    width: 100%;
}

#answerText.correct {
    background-color: #3483eb;
}

#answerText.incorrect {
    color: black;
    background-color: #fddb44;
}

/* results screen  */

#again {
    display: flex;
    height: 20%;
    justify-content: space-around;
    flex-direction: column;
    align-self: center;
}

#again>h2 {
    margin: 0px;
}

#againButton {
    align-self: center;
    width: 80%;
    font-size: 2em;
    height: 100px;
}

/* piano keys */

/* these media queries don't seem to really be working but I think it is an improvement anyway */

@media (width <= 1250px) and (orientation: landscape) {

    .key {
        height: calc(var(--width) * 2);
        width: calc(var(--width)* 0.5);
        margin: 0;
    }

    .black {
        --width: 6px;
        margin-right: calc(var(--width)/-2);
        margin-left: calc(var(--width)/-2);
    }

    .piano {
        width: 50%;
    }

    .white {
        --width: 10px;
        background-color: white;
        outline: 3px solid #333;
    }
}

@media (width > 1250px) and (orientation: landscape) {

    .key {
        height: calc(var(--width) * 8);
        width: calc(var(--width)* 2);
    }

    .black {
        --width: 22.5px;
        margin-right: calc(var(--width)/-1);
        margin-left: calc(var(--width)/-1);
    }

    .piano {
        width: 90%;
    }

    .white {
        --width: 37.5px;
        background-color: white;
        outline: 3px solid #333;
    }

}

.piano {
    display: flex;
    /* width: 90%; */
    cursor: pointer;
}


/* .key {
    height: calc(var(--width) * 8);
    width: calc(var(--width)* 2);
} */

.white {
    /* --width: 37.5px; */
    background-color: white;
    outline: 3px solid #333;
}

.white.active {
    background-color: #CCC;
}

.black {
    /* --width: 22.5px; */
    background-color: #1c1c1c;
    /* margin-right: calc(var(--width)/-1);
    margin-left: calc(var(--width)/-1); */
    z-index: 2;
}

.black.active {
    background-color: #333;
}

#middle {
    background-color: #3483eb;
}

#middle.white.active {
    background-color: #2d73cf;
}

#middle.white.correctKey {
    background-color: #fddb44;
}

.white.correctKey {
    background-color: #fddb44;
}

.black.correctKey {
    background-color: #fddb44;
}